@tailwind base;
@tailwind components;
@tailwind utilities;

#blogHtml > h1 {
  color: red;
  padding: 10px;
  font-size: 25px;
  font: bold;
  margin-bottom: 20px;
}

#blogHtml > h2 {
  color: black;
  padding: 7px;
  font-size: 20px;

  margin-bottom: 14px;
}

#blogHtml > ul {
  padding: 20px;
  list-style: square;
}

#blogHtml li {
  color:rgb(60, 58, 58)
}

#blogHtml li:hover {
  color:red
}
